.ant-carousel .slick-slide {
  text-align: center;
  height: 425px;
  line-height: 425px;
  overflow: hidden;
}
.ant-carousel .slick-slide img {
  height: 100%;
  width: 100%;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
