.reg {
  background: rgba(255, 255, 255, 0.88);
  width: 412px;
  padding: 30PX 17px 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
  transform: translate(-50%, -45%);
  border-radius: 4px;
  display: inline-block;
}
.reg a:hover {
  text-decoration: underline;
}
.reg .regTitle_Tabs > li {
  float: left;
  text-align: center;
  width: 50%;
  font-size: 22px;
  color: #94abc2;
  cursor: pointer;
}
.reg .regTitle_Tabs .active {
  color: #138cff;
}
.reg .regTitle_Tabs:before {
  content: "";
  width: 2px;
  height: 25px;
  background: #138cff;
  position: absolute;
  display: block;
  left: 50%;
  top: 5px;
}
.reg .reg-title {
  display: flex;
  justify-content: center;
  color: #138cff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reg .reg_pass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reg input {
  margin: 10px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c5cad0;
  font-size: 14px;
}
.reg :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #75737f;
  opacity: 1;
}
.reg ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #75737f;
  opacity: 1;
}
.reg input:-ms-input-placeholder {
  color: #75737f;
  opacity: 1;
}
.reg input::-webkit-input-placeholder {
  color: #75737f;
  opacity: 1;
}
.reg button {
  width: 100%;
  margin: 10px 0;
}
